<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

<!-- JS -->
<script src="/lib/jquery.js"></script> <!-- jQuery -->
<script src="/lib/bootstrap.js"></script> <!-- Bootstrap -->
<script src="/lib/jquery-ui-1.10.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="/lib/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="/lib/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="/lib/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="/lib/excanvas.min.js"></script>
<script src="/lib/jquery.flot.js"></script>
<script src="/lib/jquery.flot.resize.js"></script>
<script src="/lib/jquery.flot.pie.js"></script>
<script src="/lib/jquery.flot.stack.js"></script>

<script src="/lib/jquery.gritter.min.js"></script> <!-- jQuery Gritter -->
<script src="/lib/sparklines.js"></script> <!-- Sparklines -->
<script src="/lib/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="/lib/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="/lib/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="/lib/filter.js"></script> <!-- Filter for support page -->
<script src="/lib/custom.js"></script> <!-- Custom codes -->
<script src="/lib/charts.js"></script> <!-- Custom chart codes -->