<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title> {{ title }} </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  
  <!--Application CSS Files-->
  {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="/{{cssFile}}">{% endfor %}
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon">
</head>