          <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
          <ul class="navi">

            <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

            <li class="nred {% if navIndex %} current {% endif %}">
              <a href="/">
              <i class="icon-desktop"></i>
                Dashboard
              </a>
            </li>

            <li class="nred {% if navServers %} current {% endif %}">
              <a href="/admin/servers">
                <i class="icon-th"></i>
                Servers
              </a>
            </li>

          </ul>