{% extends '../layout-app.server.view.html' %}

{% block content %}
<div class="mainbar" ng-app="servers" ng-controller="serversController">
      
	    <!-- Page heading -->
	    <div class="page-head">
        <!-- Page heading -->
	      <h2 class="pull-left">RADIUS Server Configuration
          <!-- page meta -->
          <span class="page-meta">Configure your remote RADIUS server access information</span>
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="/admin/servers" class="bread-current">Servers</a>
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->



	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

          {% raw %}
          <div class="alert alert-{{ message.status }}" ng-show="message">
            {{ message.info }}
          </div>
          {% endraw %}

          <div class="row">

            <div class="col-md-12">

              <div class="widget wred">
                <div class="widget-head">
                  <div class="pull-left">RADIUS Server</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
                    
                    <!-- Profile form -->

                    <div class="form profile">
                      <!-- Edit profile form (not working)-->
                      <form class="form-horizontal" ng-submit="createServer(server._id)">
                          <!-- Name -->
                          <div class="form-group">
                            <label class="control-label col-lg-3" for="name">Title</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="name" ng-model="server.title" name="title">
                            </div>
                          </div>   
                          <!-- Email -->
                          <div class="form-group">
                            <label class="control-label col-lg-3" for="email">RADIUS Server Address</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="email" ng-model="server.radius.address" name="address">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-lg-3" for="port">RADIUS Server Port</label>
                            <div class="col-lg-6">
                              <input type="number" min="1" max="65535" class="form-control" id="port" ng-model="server.radius.port" name="port">
                            </div>
                          </div>
                          <!-- Telephone -->
                          <div class="form-group">
                            <label class="control-label col-lg-3" for="secret">RADIUS Shared Secret</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" id="secret" ng-model="server.radius.secret" name="secret">
                            </div>
                          </div>  

                          <!-- Buttons -->
                          <div class="form-group">
                             <!-- Buttons -->
							 <div class="col-lg-6 col-lg-offset-1">
								<button type="submit" class="btn btn-success">Update</button>
								<button type="reset" class="btn btn-default">Reset</button>
							</div>
                          </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>  
              
            </div>

          </div>

        </div>
		  </div>

		<!-- Matter ends -->

    </div>
{% endblock %}